<!DOCTYPE html>
<html>
  <head>
    <title>SolidCacheDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'Read single', root_path %></li>
      <li><%= link_to 'Read multi', multi_path %></li>
    </ul>

    <%= yield %>
  </body>
</html>
